# Date Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- Learn how to use Jupyter
- Learn how to use R
- Learn how to use Github

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Javascript

Some of the commonly used libraries used by Data Scientists include:
1. Plotly
2. Matplotlib
3. NumPy
4. Pandas

|Data Science Tools|
|-----|
|R Studio|
|Anaconda|
|Jupyter|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

In [ ]:
## Author
Guilherme Quadros de Souza